*.a
*.so*
*.xcodeproj
*~
.vscode/
.idea/
/CMakeScripts
/Testing
/_CPack_Packages
/install_manifest.txt
CMakeCache.txt
CMakeFiles
CPack*.cmake
CTestTestfile.cmake
FMT.build
Makefile
bin/
build/
cmake_install.cmake
fmt-*.cmake
fmt.pc

qodana
.env
*.sarif.json
compile_commands.json
